<footer class="footer" data-background-color="black">
    <div class=" container ">
      <nav>
        <ul>
          <li>
            <a href="#">
              coindesocol@gmail.com
            </a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
              3194089689 - 3202526741 - 3108185942
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Dg 77 b # 116 – 51 Bogotá, Colombia
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
        &copy;
        <script>
          document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>, 
        Designed by
        <!-- <a href="https://www.invisionapp.com/">Invision</a>. Coded by
        <a href="https://www.creative-tim.com/?_ga=2.163837119.1435655380.1716929762-2087790178.1716490701">Creative Tim</a>. & 
        <a href="https://github.com/Vanesh4"> Vanessa Gordillo</a> -->
      </div>
    </div>
  </footer>